@model IEnumerable<PaspCore.Model.SimilarProduct>
<h1>
</h1>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>ImageThubnail</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @product.ImageThubnail
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.Description
                </td>
                <td>
                    @product.Price
                </td>
            </tr>
        }
    </tbody>

</table>
