<style>
    .banner-contact{
        text-align:center;
        color:black;       
    }
    .contact-form{
        width:50%;
    }
</style>
<html>
<body>
    <div class="banner-contact">
        <h1>Contact Us</h1>
    </div>
    <div class="contact-form">
        <form action="">
            <div class="form-group">
                <label for="email">E-mail*</label>
                <input type="email" class="form-control" id="email" placeholder="e-mail" required>
            </div>
            <br>
            <textarea placeholder="type a message" rows="10" style=" resize:none; padding-right: 40vw"></textarea>
            <br>
            <div class="text-right">
                <button name="buttonEmail" type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
            </div> 
        </form>
    </div>

</body>
</html>