<style>
    .banner-contact{
        text-align:center;
        color:black;       
    }
    .contact-form{
        width:50%;
    }
</style>
<html>
<body>
    <div class="banner-contact">
        <h1>Contact Us</h1>
    </div>
    <div class="contact-form">
        <form action="">
            <label>E-mail</label>
            <input type="email" placeholder="enter your email">
            <br>
            <textarea placeholder="type a message" rows="10" style=" resize:none; padding-right: 40vw"></textarea>
            <br>
            <button type="submit" style="background-color:black;color:gray">Submit</button>
        </form>
    </div>

</body>
</html>