@{
    <head>
        <title>Google Maps</title>
    </head>

    <body>
        <h1>Τρόποι Επικοινωνίας</h1>

        <p>
            <strong>Διέυθυνση:</strong>
            <br>28ης Οκτωβριου 8
        </p>

        <p>
            <strong>Τηλέφωνο:</strong>
            <br>2310 000 000
        </p>
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.4162569612054!2d22.856847115654933!3d40.68682924709149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a83a7e0e4fa899%3A0xb427c54cd2de3c76!2zMjjOt8-CIM6fzrrPhM-JzrLPgc6vzr_PhSA4LCDOlM6tzrvPhM6xIDU3MCAwOA!5e0!3m2!1sel!2sgr!4v1601111192781!5m2!1sel!2sgr"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </p>
    </body>

}