<br />
<div class="container">
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-4"> 
            <img src="~/images/2.png" alt="Card image cap" width="286" height="180" />
            <h2>C#</h2>
            <p>
                C# is basically Microsoft's answer to Java. Both languages are meant for rapid application development,
                the key difference is that Java is open source whereas C# is proprietary standard by Microsoft.
                Both C# and Java are heavily influenced and inspired by C and C++.
            </p>
            <br />
            <a data-toggle="modal" href="#exampleModal" class="btn btn-primary">Details</a>
        </div>
        <div class="col-md-4">
            <img src="~/images/react.png" alt="Card image cap" width="286" height="180" />
            <h2>React</h2>
            <p>
                React (also known as React. js or ReactJS) is an open-source, front end, JavaScript library for building user interfaces or UI components.
                It is maintained by Facebook and a community of individual developers and companies.
                React can be used as a base in the development of single-page or mobile applications.
            </p>
            <a data-toggle="modal" href="#exampleModal" class="btn btn-primary">Details</a>
        </div>
        <div class="col-md-4">
            <img src="~/images/js.jpg.png" alt="Card image cap" width="286" height="180" />
            <h2>Javascript</h2>
            <p>
                The name JavaScript came from Netscape's support of Java applets within its browser.
                Many say it was also a marketing tactic to divert some attention from Java, which was the most buzzed-about language at the time.
                To run Java programs, the code must be first compiled into an executable form.
            </p>
            <a data-toggle="modal" href="#exampleModal" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    It is just my app.
                    Thank you gor your view!!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>