@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"style="color:darkblue">
    <h1 class="display-4">Eshop-App </h1>
    <h5>   
          <img src="~/images/eshop.png" />
    </h5>
</div>