@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Πασπαλάς Εμπορία Ειδων Υγιεινής </h1>
    <h5>
        //<img src="~/images/1_name1.jpg" />
    </h5>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>